body {
    font-variant-ligatures: common-ligatures discretionary-ligatures contextual;
    font-size: 12px;
    max-width: 960px;
    margin: 2px auto 0 auto ;
    width: 1000px;
    height: 614px;
    border: 2px solid black;
    padding: 50px;

}
h1 {
    font-style: unset;
    font-size: 3em;
    letter-spacing: .6em;
    padding-top: 0em;
    padding-bottom: 1em;
}

h2 {
    font-size: 1.5em;
    padding-bottom: 1em;
}

h3 {
    font-size: 1em;
    padding-bottom: 1em;
}
    main { 
        display: grid;
        grid-template-columns: 40% 60%;
        margin-top: 3em;
    }
    header {
        font-variant-ligatures: discretionary-ligatures;
        text-align: center;
        margin: auto 2em;
    }
    
    section {
        margin: auto 1em 4em 2em;
    }
    
    i {
        margin-right: .5em;
    }
    
    p {

        margin: .2em auto
    }
    
    hr {
        border: none;
        background-color: rgb(15, 105, 26);
        height: 1px;
    }
    
    h1, h2, h3 {
        font-variant-ligatures: historical-ligatures;
        font-weight: 100;
        margin-bottom: 0;
    }
    
    #mainLeft {
        border-right: 1px solid rgb(0, 0, 0);
    }